@import 'src/testdata/sass-shared/fonts';
@import 'src/testdata/sass-shared/colors';

html {
  body {
    font-family: $default-font-stack;

    h1 {
      color: $example-red;
      font-family: $modern-font-stack;
    }
  }
}
